/* src/styles/antd-custom.css */
.ant-table-cell {
  padding: 12px 16px;
  /* 기본값 */

  @media (max-width: 1024px) {
    padding: 8px 12px !important;
  }

  @media (max-width: 768px) {
    padding: 6px 8px !important;
  }

  @media (max-width: 520px) {
    padding: 4px 6px !important;
  }
}